/* colors */

* {
  background-alt:   #2E3440;
  background:      #2E3440;
  selected:      #D8DEE9;
  foreground:      #8fbcbb;
  ac:      #88c0d0;
  red:     #BF616A;
  green:   #A3BE8C;
  yellow:  #EBCB8B;
  blue:    #5E81AC;
  purple:  #B48EAD;
  cyan:    #88C0D0;
}
